<!DOCTYPE html>
<html>
  <head>
    <title><%= variables %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= variables %></h1>
    <p>Addition: <%= sum %></p>
    <p>Subtraction: <%= sub %></p>
    <p>Multiplication: <%= prod %></p>
    <p>Division: <%= div %></p>
    <p>Modulo: <%= mod %></p>

  </body>
</html>
